* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}


// #main {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
// }

#home-main {
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  // width: 100%;
  background-color: gray;
}

#parkDisplayContainer {
  display: flex;
  flex-direction: row;
  // width: 50%;
  background-color: purple;
  border: 1px solid black;
}

// #map {
//   width: 200px;
//   height: 200px;
// }
// #outerBox {
//   position: relative;
//   max-width: 600px;
//   // margin: 0 auto;
//   // padding: 10px;
//   box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.411);
//   border-radius: 5px;
// }

#blankSpace {
  width: 60%;
}

#innerbox {
  display: flex;
  flex-direction: column;
  background: #f0ead6;
  padding: 5px;
  width: 100%;
  // margin: 5px; 
  
  
}
