* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


// #main {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
// }

#home-main {
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  height: 100vh;
  background-color: gray;
}

#parkDisplayContainer {
  display: flex;
  flex-direction: row;
  // width: 50%;
  background-color: purple;
  border: 1px solid black;
}

.parkCard {
  border: 1px solid black;
  padding: 10px;
}

.div1 {
  background: #f0ead6;
  width: 50%;
}

.div2 {
  flex: 3;
  order: 2;
  position: relative;
  min-height: 100%;
}


// LANDING PAGE
.landingWrapper {
  text-align: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80) no-repeat center center fixed; 
}

.landingBox {
  width: 40%;
  height: 20%;
  opacity: 0.8;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 200px;

    Button {
      margin-top: 30px;
    }

  }
  
.appbar {
  opacity: 0.85;
}

input {
  text-align: center;
}
